/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
    min-width: 700px;
}

body {
    font-family: "muli", sans-serif;
    font-weight: 400;
    margin: 6em 0 0 0;
    font-size: .9em;
    color: #7C7D7E;
}

h2, h3, h4, h5 {
    font-weight: 300;
    font-size: 1.6em;
    color: black;
    margin: .5em 0 0 0;
    line-height: 2em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.2em;
}

p {
    margin: 0 0 1em 0;
}

.name {
    font-size: 1.25em;
    margin: 1em 0 0 0;
}

.place {
    color: #A4CC72;
}

.contact-support {
    color: black;
}

.green {
    color: #62A60A;
}

.btn {
    padding: 1em 1.75em;
    background-color: transparent;
    border: 1px solid #E6E7E8;
    font-size: 1.05em;
    line-height: 6em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, .btn:hover {
    color: #61A60E;
}

.btn:hover {
    border: 1px solid #61A60E;
}

/* header */

.page-header {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 7em;
    display: block;
    box-shadow: 6px 6px 8px hsla(356, 5%, 0%, .5);
    z-index: 100;
}

.header-group {
    width: 925px;
    margin: auto;
}

.header-logo {
    float: left;
    margin: 1.25em 0em;
}

.header-btn {
    float: right;
    margin: .45em 1em;
}

/* .jumbo-tron */

.jumbo-tron {
    background-image: url("../img/farms.jpg");
    width: 100%;
    height: 350px;
    display: block;
    position: relative;
    background-size: cover;
}

h1 {
    font-weight: 300;
    font-size: 2.45em;
    padding: 0 .6em;
}

.left-bracket {
    background-color: transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    width: .75em;
    height: 4.1em;
    position: relative;
    top: 5.5em;
    left: 1.85em;
}

.right-bracket {
    background-color: transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: .75em;
    height: 4.1em;
    position: relative;
    top: -4.35em;
    left: 32em;
    margin-top: -1em;
}

.jumbo-tron-copy {
    position: relative;
    text-align: center;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.jumbo-tron-play-btn {
    width: 6em;
    height: 6em;
    position: relative;
    top: 5em;
}

.fixed-btn {
    padding: 0;
    height: 11em;
    width: 3em;
    background-color: #252729;
    position: fixed;
    top: 13.5em;
    left: 0em;
    border: none;
    box-shadow: 3px 3px 5px hsla(356, 5%, 0%, .25);
    z-index: 250;
}

.vertical-text {
    letter-spacing: 1.5px;
    position: fixed;
    top: 18em;
    left: -4.35em;
    height: 3em;
    width: 10em;
    transform: rotate(90deg);
    color: #E2E3E4;
    padding: 0 0 0 .5em;
}

.fixed-btn:hover {
    background-color: #61A60E;
    color: #ffffff;
}

/* .main-nav */

.main-nav {
    background-color: #E6E7E8;
    width: 100%;
    height: 7em;
    position: relative;
    z-index: 200;
}

.main-nav ul{
    list-style-type: none;
    width: 60em;
    margin: 0 auto;
}

.main-nav li {
    font-size: 1.05em;
    letter-spacing: 1px;
    background-color: #E6E7E8;
    float: left;
    padding: 0 2em;
    margin: 2.5em 0 0 0;
    border-right: 1px solid #000000;
}

.main-nav li:last-child {
    border-right: none;
}

/* .main-content */

.main-content {
    width: 825px;
    margin: auto;
    background-color: #ffffff;
    display: block;
    clear: both;
}

section {
    display: table;
    border-collapse: collapse;
    border-bottom: 1px solid #62A60A;
    padding: 3em 5em 2em 5em;
    display: block;
    clear: both;
    text-align: center;

}

.info {
    width: 155px;
    height: 300px;
    text-align: center;
    display: block;
    margin: 1em 2.25em 1em 2.25em;
    float: left;
}

.info-box {
    padding: 2em 3em;
    margin: .5em 0 0 1.5em;
    text-align: center;
    line-height: 4em;
    border: 1px solid #E6E7E8;
    background-color: #FAFAFB;
    float: left;
    color: black;
}

.info-box h3 {
    font-weight: 400;
}

.info-help {
    text-align: left;
}

.popup-btn {
    width: 153px;
    height: 153px;
    border: 1px solid #E8E9EA;
    border-radius: 100px;
    background-position: center top;
    transition: .3s;
}

.popup-btn-play:hover {
    background-position: center bottom;
    transition: .3s;
}

.security {
    background: url("../img/security_icon_4.jpg");
}

.mobility {
    background: url("../img/mobility_icon_4.jpg");
}

.compatibility {
    background: url("../img/compatibility_icon_4.jpg");
}

.control {
    background: url("../img/control_icon_5.jpg");
}

.chris-kelley {
    background: url("../img/chriskelley_photo_1.jpg");
}

.ryan-rooney {
    background: url("../img/ryanrooney_photo_1.jpg");
}

.kurt-stahl {
    background: url("../img/kurtstahl_photo_1.jpg");
}

.support {
    background: url("../img/gina.jpg");
}

/* .mini-tron */

.mini-tron {
    background-image: url("../img/farms.jpg");
    width: 100%;
    height: 80px;
    display: block;
    clear: both;
    position: relative;
    background-size: cover;
}

.mini-tron-copy {
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.65em;
    color: #ffffff;
    font-weight: 300;
}

.mini-tron-copy a {
    color: #ffffff;
}

.mini-left-bracket {
    background-color: transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    width: .5em;
    height: 2em;
    position: relative;
    top: 1.65em;
    left: -.65em;
}

.mini-right-bracket {
    background-color: transparent;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: .5em;
    height: 2em;
    position: relative;
    top: -1.75em;
    left: 5.25em;
}


/* footer */

footer {
    background-color: #E6E7E8;
    display: block;
    clear: both;
    color: black;
}

.footer-content {
    width: 900px;
    height: 150px;
    position: relative;
    left: 58%;
    right: 42%;
    transform: translate(-42%, -58%);
    font-size: .9em;
    line-height: 1.75em;
    padding: 15em 0 0 0;
}

.footer-content h3 {
    font-size: 1.5em;
    margin: 0;
}

.footer-nav ul{
    list-style: none;
    float: left;
    display: block;
    margin: 0 5em 0 0;
}

.footer-nav li {
    padding: .5em;
    font-size: .9em;
}

.footer-contact {
    float: left;
}

.social-btn {
    width: 37px;
    height: 37px;
    margin: 0 1em 1em 0;
    border: 1px solid #E8E9EA;
    border-radius: 100px;
    background-position: center top;
    float: left;
}

.facebook {
    background: url("../img/facebook_icon_1.jpg");
}

.twitter {
    background: url("../img/twitter_icon_1.jpg");
}

.youtube {
    background: url("../img/youtube_icon_1.jpg");
}

.footer-copyright {
    background-color: #252729;
    color: #626364;
    text-align: center;
    font-size: 8px;
    padding: 1em 0 0 0;
    margin: 0 0 2.5em 0;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
